{% extends "base.html" %}
{% block title %}
  Анфиса для друзей. О проекте
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="pb-2 mb-4">О проекте</h1>
      <p>
        Добро пожаловать в удивительный мир "Анфисы для друзей" - вашего персонального помощника и компаньона во всех жизненных ситуациях. "Анфиса для друзей" - это не просто еще одно приложение, это искусственный интеллект нового поколения, созданный для упрощения вашей жизни и сделать ее более яркой и увлекательной.
      </p>
      <p>
        Наша команда состоит из экспертов в области искусственного интеллекта, машинного обучения и разработки пользовательских интерфейсов. Мы стремимся к созданию лучшего продукта, который будет полезен каждому пользователю и сделает его жизнь лучше.
      </p>
      <p>
        "Анфиса для друзей" оснащена передовыми технологиями обработки естественного языка, что позволяет вам общаться с ней так, как будто вы разговариваете с настоящим другом. Она готова помочь вам с расписанием, напомнить о важных событиях, найти ответы на интересующие вас вопросы и даже поиграть в увлекательные игры.
      </p>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Преимущества</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Интуитивный интерфейс</li>
            <li class="list-group-item">Персонализированный опыт</li>
            <li class="list-group-item">Высокая производительность</li>
            <li class="list-group-item">Безопасность и конфиденциальность</li>
            <li class="list-group-item">Множество увлекательных функций</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
