{% extends "base.html" %}
{% load static %}
{% block title %}
  Анфиса для друзей. Главная
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Главная страница</h1>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h2>Добро пожаловать в компанию ACME</h2>
        <p>ACME - это инновационная компания, которая занимается разработкой передовых технологий и предоставляет широкий спектр услуг для своих клиентов по всему миру.</p>
        <p>Мы стремимся к постоянному совершенствованию и наша миссия заключается в том, чтобы делать мир лучше с помощью передовых решений и инновационных подходов.</p>
        <p>У нас работают выдающиеся специалисты в различных областях, таких как информационные технологии, биотехнологии, искусственный интеллект, машиностроение и многое другое.</p>
        <p>Мы с гордостью представляем наши новейшие продукты и услуги, которые помогают клиентам решать самые сложные задачи и достигать впечатляющих результатов.</p>
        <p>Наша компания активно вкладывает в исследования и разработки, чтобы быть на передовой в сфере инноваций. Мы понимаем, что только постоянное развитие позволяет нам оставаться лидерами на рынке и удовлетворять потребности наших клиентов.</p>
        <p>Наш коллектив - это команда творческих и целеустремленных профессионалов, которые объединены общими ценностями и целями. Мы верим в силу сотрудничества и доверия, и это отражается во всем, что мы делаем.</p>
        <p>Мы не только предоставляем выдающиеся технические решения, но и стремимся к устойчивости и ответственности во всех аспектах нашей деятельности. Мы понимаем важность баланса между экономическими, социальными и экологическими аспектами бизнеса.</p>
        <p>Наша цель - не только создавать инновационные продукты, но и оказывать положительное влияние на мир в целом. Мы стремимся сделать жизнь людей лучше и сделать вклад в устойчивое будущее для нашей планеты.</p>
        <p>Если вы ищете надежного партнера для реализации ваших идей и проектов, обращайтесь к нам. Мы с удовольствием поможем вам достичь успеха и реализовать ваш потенциал.</p>
        <p>С ACME вы можете быть уверены, что вы получите лучшие решения, которые помогут вам добиться максимальных результатов и оставаться на шаг впереди конкурентов.</p>
        <p>С нами вы сможете осуществить свои самые амбициозные идеи и преодолеть самые сложные препятствия. Давайте вместе сделаем мир лучше и создадим будущее, о котором вы всегда мечтали!</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/ceo_photo.jpg' %}" alt="CEO" class="img-fluid">
        <p class="mt-2">Андрей Владимирович</p>
        Оч крутой бэкендер, ACME<br>
        Электронная почта: ya.vahue@example.com<br>
        Телефон: имеется<br>
      </div>
    </div>
  </div>
{% endblock %}
